<!-- This section shows today's item and links the rating component -->
<div>
    <h1>TODAY'S ITEM</h1>

    <div id="item-container">
        <h1>{{ ratingObject }}</h1>
        <p>{{ ratingObjectDesc }}</p>
        <a href="{{ ratingURL }}">LINK</a>
        <!-- from wiki link, parse image, name, and short description -->
    </div>

    <div id="rating-container">
        <!-- NG IF // if rating submitted, show it and three other random ratings -->
            <!-- else: link rating component -->
        <app-rating></app-rating>
    </div>

</div>